<ion-tabs class="custom-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigateTo('interfaz-productos')">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('interfaz-publicacion')">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('interfaz-pago-producto')">
      <ion-icon aria-hidden="true" name="pricetag-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('interfaz-ver-producto')">
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
