<app-header></app-header>>

<ion-content [fullscreen]="true">

  <ion-card class="add-product-card">
    <ion-card-header>
      <ion-card-subtitle>Agrega tu producto para rentarlo!</ion-card-subtitle>
      <ion-card-title>Agregar producto</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre del producto</ion-label>
        <ion-input placeholder="Nombre"></ion-input>
      </ion-item>


      <ion-list>
        <ion-item>
          <ion-select label="Categoria del producto" label-placement="stacked">
            <ion-select-option value="electronicos">Electronicos</ion-select-option>
            <ion-select-option value="muebles">Muebles</ion-select-option>
            <ion-select-option value="ropa">Ropa</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>


      <ion-item>
        <ion-label position="stacked">Descripción del producto</ion-label>
        <ion-textarea placeholder="Descripción"></ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-checkbox labelPlacement="end">Acepto los <a color="primary" href="#"
            (click)="$event.stopPropagation()">terminos y condiciones</a></ion-checkbox>
        <ion-button shape="round" fill="clear" slot="end" color="primary">
          <ion-icon slot="icon-only" name="image-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-button expand="block" color="dark">Agregar el producto</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>