.payment-card {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  
    ion-card-header {
      text-align: center;
  
      ion-card-title {
        font-size: 22px;
        font-weight: bold;
      }
  
      ion-card-subtitle {
        font-size: 14px;
        color: #888;
      }
    }
  
    .product-details {
      display: flex;
      margin-top: 20px;
  
      ion-thumbnail {
        width: 80px;
        height: 80px;
        background-color: #f4f4f4;
      }
  
      .details-text {
        margin-left: 15px;
  
        p {
          font-size: 14px;
          margin: 5px 0;
        }
      }
    }
  
    .price {
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      margin: 20px 0;
    }
  
    ion-item {
      margin-top: 10px;
    }
  
    ion-button {
      margin-top: 20px;
    }
  
    @media (min-width: 768px) {
      width: 50%;
    }
      
  }

ion-content{
  --background: #000;
}