ion-content {
  --background: black;
  position: relative;
  height: 100vh;
}

.parent {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
}


.custom-button {
  --background: #2563eb;
  --border-radius: 20px;
  --padding-start: 15px;
  --padding-end: 15px;
  --color: white;
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  height: 60px;
  display: block;
  width: 100%;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto 1fr; /* Ícono ocupa el espacio necesario, el texto el resto */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-items: center; /* Centra horizontalmente el contenido del grid */
  width: 100%; /* Asegura que el contenedor ocupe el 100% del botón */
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 50px 1fr auto; /* 3 columnas: ícono, texto, y botones de acciones */
  align-items: center;
  width: 100%;
}


.left-icon {
  justify-self: start;
  
}

.button-label {
  //text-align: start;
  //padding-left: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-icons {
  display: flex;
  gap: 8px; /* Espacio entre 'ver' y 'borrar' */
  justify-content: end;
  align-items: center;
}

.action-icon {
  font-size: 25px;
  color: black;
  cursor: pointer;
}

/* Tamaño de íconos principales dentro del botón */
ion-icon {
  font-size: 40px;
  margin-right: 10px;
}
