.bgContent {
  background-image: url("../../../assets/bgLogin.png") ;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.containerForm {
  margin-top: 40vh;
  background-color: rgba(255, 255, 255, 0.3);
  height: 500px;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  align-items: center;
}

.imageLogo {
  text-align: center;
  margin-top: -35px;
}

.buttonToggleChange {
  margin-top: 20px;
}

ion-segment{
  --background:#CECECE;
  --border-radius:20px;
}
ion-segment-button {
  --indicator-color: #0060D1;
}

.buttonSegment {
  height: 60px;
  border-radius: 5%;
}


// .input {
//   background-color: rgba(255, 255, 255, 0.3);
//   backdrop-filter: blur(10px);
// }