ion-content {
  --background: #000;
}

.background {
  --background: url("../../../assets/bgLogin.png") no-repeat center center;
  --background-size: cover; /* Hace que la imagen cubra todo el fondo */
}

.containerForm {
  margin-top: 30vh;
  background-color: rgba(255, 255, 255, 0.1);
  width: 30%; /* Ajusta el ancho del contenedor, 90% del ancho total */
  height: auto; /* Cambiar a auto para ajustarse al contenido */
  border-radius: 25px;
  backdrop-filter: blur(10px);
  padding: 20px; /* Añadir padding para mejorar el espaciado interno */

}

.imageLogo {
  margin-top: -50px; /* Ajusta esto según sea necesario */
  animation: circle-in-hesitate 2.5s cubic-bezier(.25, 1, .30, 1) forwards; /* Asegúrate de que la animación se aplique */
}

.titles {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.inputStyles {
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  /* Estilos para el borde */
  --border-color: white; /* Cambiar el color del borde a blanco */
  --border-width: 2px; /* Aumentar el grosor del borde */
  --background: rgba(0, 0, 0, 0.3); /* Fondo semitransparente para el input */
}

.custom-button {
  --background: #2563eb; /* Fondo azul para los botones */
  --border-radius: 20px; /* Bordes redondeados de los botones */
  --padding-start: 15px;
  --padding-end: 15px;
  --color: white; /* Texto blanco */
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para los botones */
  font-size: 18px;
  height: 60px; /* Altura del botón */
}

ion-segment {
  --background: #cecece;
  --border-radius: 20px;
}

ion-segment-button {
  --indicator-color: #0060d1;
}

.tituloSegment {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

ion-toggle {
  margin-right: 8px; /* Ajusta el margen derecho del toggle */
}

ion-item {
  --padding-start: 0; /* Elimina el padding inicial si es necesario */
  --background: rgba(255, 255, 255, 0);
}

.buttonSegment {
  height: 60px;
  border-radius: 5%;
}

@keyframes circle-in-hesitate {
  0% {
    clip-path: circle(0%);
  }
  40% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(125%);
  }
}

.explosion-animation { /* Clase que aplica la animación a todo el contenedor */
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
  position: relative; /* Asegúrate de que el contenedor tenga posición relativa */
  overflow: hidden; /* Evita que el contenido se desborde */
}

.bienvenida-logo {
  position: absolute;
  top: 50%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para centrar el logo */
}

.bienvenida-text {
  display: flex;
  justify-content: center;
  margin-top: 20vh; /* Espacio adicional para el texto */
  color: #2563eb;
}

.bienvenida-img {
  width: 200px;
  height: 200px;
  animation: spinAndMove 2s ease-in-out forwards; /* Animación */
}

@keyframes spinAndMove {
  0% {
    transform: translate(0,0) rotate(0deg) scale(1.5); /* Comienza en el centro */
  }
  100% {
    transform: translate(-0%, -40px) rotate(360deg) scale(0.5); /* Mueve hacia arriba 150px */
  }
}