<ion-content [fullscreen]="true" mode="md" [ngClass]="{ 'background': !showWelcomeImage }" #content>
  <div *ngIf="showWelcomeImage" class="bienvenida-logo">
    <img src="assets/logo.png" alt="bienvenida" class="bienvenida-img">
    <div class="bienvenida-text">
      <h1>Click&Rent</h1>
    </div>
  </div>
  
  <div *ngIf="!showWelcomeImage" class="explosion-animation">
  <ion-grid>
    <ion-row>
      <ion-col class="containerForm ion-text-center" size="10" offset="1">
        <img class="imageLogo" src="assets/Logo2.png" alt="bienvenida" />
        <br />
        <ion-segment mode="ios" [(ngModel)]="segmentValue" class="buttonSegment">
          <ion-segment-button value="Login">
            <h5 class="tituloSegment">Log In</h5>
          </ion-segment-button>
          <ion-segment-button value="Register">
            <h5 class="tituloSegment">Sign Up</h5>
          </ion-segment-button>
        </ion-segment>
        <br />

        <!-- Login Form -->
        <ng-container *ngIf="segmentValue === 'Login'">
          <h2 class="titles">Log In</h2>
          <ion-input class="inputStyles" label-placement="floating" fill="outline" type="email" label="E-mail" placeholder="email@email.com"></ion-input>
          <br />
          <ion-input class="inputStyles" label-placement="floating" fill="outline" type="password" label="Password" placeholder="********">
            <ion-button fill="clear" slot="end" aria-label="Show/hide">
              <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
            </ion-button>
          </ion-input>
          <br />
          <ion-item>
            <ion-toggle [checked]="false"> </ion-toggle>
            <ion-icon slot="start" name="scan-outline" style="margin-right: 4px;"></ion-icon>
            <a href="/bienvenida" style="color: white; text-decoration: none">Olvide mi contraseña</a>
          </ion-item>
          <!--<label>{{ loginMessage }}</label>--> <!-- Bind dynamic message here -->
          <br />
          <ion-button expand="block" class="custom-button">Log In</ion-button>
        </ng-container>

        <!-- Register Form -->
        <ng-container *ngIf="segmentValue === 'Register'">
          <h2 class="titles">Sign Up</h2>
          <ion-input class="inputStyles" label-placement="floating" fill="outline" type="text" label="Username" placeholder="Username"></ion-input>
          <br />
          <ion-input class="inputStyles" label-placement="floating" fill="outline" type="email" label="E-mail" placeholder="example@email.com"></ion-input>
          <br />
          <ion-input class="inputStyles" label-placement="floating" fill="outline" type="password" label="Password" placeholder="********">
            <ion-button fill="clear" slot="end" aria-label="Show/hide">
              <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
            </ion-button>
          </ion-input>
          <br />
          <ion-input class="inputStyles" label-placement="floating" fill="outline" type="password" label="Confirm password" placeholder="********">
            <ion-button fill="clear" slot="end" aria-label="Show/hide">
              <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
            </ion-button>
          </ion-input>
          <br />
          <!---<label>{{ registerMessage }}</label>--> <!-- Bind dynamic message here -->
          <br />
          <ion-button expand="block" class="custom-button">Sign Up</ion-button>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>
