<ion-content [fullscreen]="true" mode="md">
  <div class="background">
    <ion-img src="../../../assets/image.jpg"></ion-img>
  </div>
  <ion-grid >
    <ion-row>
      <ion-col class="containerForm ion-text-center" size="8" offset="2">
        <img class="imageLogo" src="assets/Logo2.png" alt="bienvenida">
        <br>
        <ion-segment mode="ios" [(ngModel)]="segmentValue" class="buttonSegment" >
          <ion-segment-button value="Login"> <h5 class="tituloSegment">Log In</h5> </ion-segment-button>
          <ion-segment-button value="Register"><h5 class="tituloSegment">Sign Up</h5></ion-segment-button>
        </ion-segment>
        <br>
        <!-- Login Form -->
        <div class="loginCard" *ngIf="segmentValue === 'Login'">
          <h2 class="titles">Log In</h2>
          <ion-input class="inputStyles" label-placement="floating" fill="outline" type="email" label="E-mail" placeholder="email@email.com">
          </ion-input>
          <br>
          <ion-input class="inputStyles" label-placement="floating" fill="outline" type="password" label="Password" placeholder="********">
            <ion-button fill="clear" slot="end" aria-label="Show/hide">
              <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
            </ion-button>
          </ion-input>
          <br>
            <ion-item class="background2">
              <ion-toggle [checked]="false"></ion-toggle><br /><br />
              <ion-icon slot="start" name="disc-outline"></ion-icon>
              <a href="/">Olvide contraseña</a>
            </ion-item>
          <label>message successful or error</label>
          <br />
          <ion-button expand="block" color="primary">Log In</ion-button>
        </div>

        <!-- Register Form -->
        <div *ngIf="segmentValue === 'Register'">
          <h2 class="titles">Register</h2>
          <ion-input class="inputStyles" label-placement="floating" fill="outline" type="username" label="Username" placeholder="Username"></ion-input>
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>