.chip-container {
    display: flex;
    justify-content: start;  // Alinea las chips al principio
    gap: 0px;  // Espacio entre las chips
    margin-bottom: 15px;  // Espacio entre las chips y las tarjetas
    padding: 0 40px;  
}
  
  ion-chip {
    --color: var(--ion-color-dark);
    --border-color: var(--ion-color-light);
    --background: transparent;
  }
  