<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>interfaz-productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let producto of productos">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="producto.imagen" alt="{{ producto.nombre }}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ producto.nombre }}</h2>
        </ion-label>

        <ion-button fill="clear" (click)="agregarAFavoritos(producto)">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
